nav{
    background:#0d6efd;
    padding:15px 40px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{

    color:white;
    font-size:28px;
    font-weight:bold;

}

.menu{

    display:flex;
    gap:30px;

}

.menu a{

    color:white;
    text-decoration:none;
    font-size:18px;
    font-weight:500;

    transition:.3s;

}

.menu a:hover{

    color:yellow;

}
